@font-face {
	font-family: 'Montserrat';
	src: url('/assets/fonts/Montserrat/Montserrat-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: url('/assets/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: url('/assets/fonts/Montserrat/Montserrat-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: url('/assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: url('/assets/fonts/Montserrat/Montserrat-Thin.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: url('/assets/fonts/Montserrat/Montserrat-Light.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}



@font-face {
	font-family: 'LabGrotesque';
	src: url('/assets/fonts/LabGrotesque/LabGrotesque-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'LabGrotesque';
	src: url('/assets/fonts/LabGrotesque/LabGrotesque-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'LabGrotesque';
	src: url('/assets/fonts/LabGrotesque/LabGrotesque-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'LabGrotesque';
	src: url('/assets/fonts/LabGrotesque/LabGrotesque-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'LabGrotesque';
	src: url('/assets/fonts/LabGrotesque/LabGrotesque-Thin.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'LabGrotesque';
	src: url('/assets/fonts/LabGrotesque/LabGrotesque-Light.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}