:root {
    --text: #2B2B2B;
    --primary: #3AAA35;
    --border: #B2B2B2;
    --radius: 5px;

    
    --border2: #D7E2F2;
    --primaryDark: #007d48;
    --secondary: #92A3BC;
    --body: #F3F8FF;
    --bglight: #fff;
    --bgdark: #1E2B3E;
    --header: #2D4159;
    --default: #384B61;
    --bglight: #E3EBF9;
    
}
