:root {
  --text: #2b2b2b;
  --primary: 60, 171, 54;
  --red: 234, 50, 50;
  --bg2: 178, 178, 178;
  --border: #b2b2b2;
  --radius: 5px;
  --raduisBig: 10px;
  --dark: 0, 0, 0;
  --light: 255, 255, 255;
  --bg: #f7f7f8;
  --bgDark: #eeeeee;
  --shadow: 0px 4px 8px rgba(0, 0, 0, 0.14);
  --test: #3aaa35;
}
